<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

	<appSettings>
		<!--JS-SDK企业号-->
		<add key="CorpID" value="wwffdb7656d6a5db9e" />
		<!--JS-SDK凭证秘钥-->
		<add key="CorpSecret" value="o8o4J8FAUH_FTPKQJtzpAMCaA22LI2BZx42mEY-7pyM" />
		<!--JS-SDK程序ID-->
		<add key="AgentID" value="1000025" />
	</appSettings>
	
	<connectionStrings>
		<add name="DBEntities" connectionString="data source=106.15.183.137,9100;initial catalog=ChinaBPM;user id=HuME;password=1qazXSW@.;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<connectionStrings>
		<add name="DBEntities44" connectionString="data source=106.15.183.137,9100;initial catalog=ChinaBPM;user id=HuME;password=1qazXSW@.;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>